/*---------------------------------------------------------------
Project:	Comingsoon Trending Static
Version:	1.0
Last change:	07/03/2015
Assigned to:	earthquake (m.waksmanski@gmail.com)
Primary use:	Creativemarket
---------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Preloader
        - #preloader
        - #status
3. Typography
        - h1
        - h2
        - h3
        - p
4. Navbar
        - .navbar
        - .navbar-default
        - .navbar-toggle
        - .navbar-right
        - .navbar-text
        - .navbar-brand>img
        - .top-nav-collapse

5. Jumbotron
        - .jumbotron
        - .jumbo
6. Counter
        - ul#example
        - ul#example li span
        - ul#example li.seperator
7. Testimonial
        - .testimonial
        - .testimonial-border
        - .testimonial-text
        - blockquote
        - #quote-carousel
        - .carousel-inner
        - .item blockquote
8. About Us
        - #subscribe
        - .subs
        - .subscribe-group
        - #email
9. subscribe
        - .about-text
        - .about-images
        - #text-aboutus

10. contact
        - .contact-us
        - .input-group .form-control
        - .form-control
        - .input-group-addon
        - form-control:focus
11. Google-maps
        - #map-canvas
12. Footer
        - .footer
        - .footer-text
        - .social-icon
        - .social-icon li
        - .icon
        - .icon a
        - .icon a:hover
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Color codes]

    Body-color: #313131 (dark)
    Navbar border bottom: #c1a26e (gold)
    jumbotron color: #ffffff (white)
    counter color: #c1a26e (gold)
    testimonial color: #9b9b9b (grey)
    text-aboutus color: #848484 (grey)
    contact-us color: #313131; (dark)
    footer color: #555559 (dark)
    btn-primary color: #c1a26e
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Typography]

Body copy:		Open Sans 700, 400, 100;
Input, textarea:	Arial, Helvetica, sans-serif;
-------------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 1. Body */
/*---------------------------------------------------------------*/

body{
    color: #313131;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    overflow: scroll;
}

.btn-primary {
    background-color: transparent;
    border-color: #37b496;
    border: solid 2px;
    color: #37b496;
    font-weight: 700;
    font-size: 14px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #37b496;
    border: solid 2px #37b496;
}

.btn-lg, .btn-group-lg>.btn {
    padding: 12px 25px;
}
/*---------------------------------------------------------------*/
/* 2. preloader */
/*---------------------------------------------------------------*/

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;
    z-index:99;
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    background-image: url(../images/status.gif); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin:-100px 0 0 -100px;
}
/*---------------------------------------------------------------*/
/*  preloader-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 3. typography */
/*---------------------------------------------------------------*/
h1 {
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 35px;
}

h3 {
    font-weight: 400;
    font-size: 24px;
    color: #3f3f3f;
    margin-bottom: 30px;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #9e9e9e;
    margin-bottom: 35px;
}
/*---------------------------------------------------------------*/
/* typography-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 4. navbar */
/*---------------------------------------------------------------*/
.navbar {
    min-height: 75px;
    margin-bottom: 25px;
}

.navbar-default {
    background-color: transparent;
    opacity: 1;
    border-bottom: 1px solid #fff;
}

.navbar-default .navbar-toggle {
    background-image: url(../images/menu-icon.png);
    margin-top: 28px;
    border-color: transparent;
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}


.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 12px;
    margin-top: 8px;
    margin-right: 15px;
    background-color: #fff;
    background-image: none;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    border: 1px solid transparent;
    font-weight: 700;
}

.navbar-default .navbar-nav>li>a:hover {
    border-bottom: 3px solid #f1b211;
    color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    height: auto;
}

.navbar-right {
    margin-top: 10px;
}

.navbar-text {
    margin-top: 15px;
}

.navbar-default .navbar-text {
    color: #2b3542;
    font-weight: 700;
    font-size: 25px;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    border-bottom: 3px solid #f1b211;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .close.navbar-nav>.active>a:focus {
    color: #fff;
    opacity: 0.6;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-brand>img {
    display: block;
    width: 100%;
    margin-top: 6px;
}

.navbar-brand h2 {
    margin-top: -6px;
    color: #fff;
    text-transform: uppercase;
}

.nav>li>a {
    display: inline;
}

.navbar-nav>li>a {
    line-height: 50px;
}

.navbar-brand>img {
     margin-top: 0px;
}

.top-nav-collapse {
    padding: 0;
    background-color: #000;
    opacity: 0.7;
}
/*---------------------------------------------------------------*/
/* navbar-end */
/*---------------------------------------------------------------*/

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #777777;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}

/*---------------------------------------------------------------*/
/* 5. jumbotron */
/*---------------------------------------------------------------*/
.jumbotron {
    margin-bottom: 0px;
    /*background-image: url(../images/machine.jpg);*/
    background-color: #37b496;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
}

.jumbo  {
    padding-top: 250px;
    text-align: center;
    color: #fff;
}

.jumbotron h2 {
    font-size: 90px;
    font-weight: 100;
    text-transform: uppercase;
}

.jumbotron p {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 100;
    color: #fff;
}

.button-down {
    margin-top: 80px;
    margin-left: 10px;
}

/*---------------------------------------------------------------*/
/* 6. counter */
/*---------------------------------------------------------------*/
ul#example {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    display: block;
    text-align: center;
    color: #f1b211;
}

ul#example li { display: inline-block; }

ul#example li span {
    font-size: 65px;
    font-weight: 400;
    line-height: 80px;
    padding: 20px;
}

ul#example li.seperator {
    font-size: 55px;
    line-height: 70px;
    vertical-align: top;
}

ul#example li p {
    color: #fff;
    font-size: 15px;
}

/*---------------------------------------------------------------*/
/* 7. testimonial */
/*---------------------------------------------------------------*/
.testimonial {
    /*background-image: url(../images/testimonial-background.jpg);*/
    background-color: #2b3542;
}

.testimonial-border {
    border-top: 2px solid #37b496;
    width: 50px;
    margin-bottom: 35px;
}

.testimonial-text  {
    font-size: 14px;
    color: #9e9e9e;
}

blockquote {
    padding: 20px 20px;
    margin: 0 0 20px;
    font-size: 13px;
}

#quote-carousel {
    padding: 0 10px 10px 10px;
    margin-top: 30px;
}

#quote-carousel .carousel-control {
    background: none;
    color: #fff;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 0px;
}

.carousel-inner {
    min-height: 220px;
    margin-top: 25px;
    color: #fff;
    line-height: 180%;
    text-align: left;
}

.item blockquote {
    border-left: none;
    margin: 0;
}

blockquote footer, blockquote small, blockquote .small{
    margin-top: 20px;
    font-size: 14px;
    color: #9e9e9e;
    font-style: normal;
}
/*---------------------------------------------------------------*/
/* testimonial-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 8. about us */
/*---------------------------------------------------------------*/
.about {
    background-color: #efefef;
}
.about-text {
    margin-top: 65px;
    margin-bottom: 55px;
    text-align: center;
}

.about-text h2 {
    font-weight: 100;
    font-size: 55px;
    margin-bottom: 20px;
    color: #37b496;
    text-transform: uppercase;
}

.about-text h3 {
    font-size: 18px;
    color: #f1b211;
}

.about-images {
    margin-top: 50px;
    margin-bottom: 55px;
}

#text-aboutus {
    padding-right: 100px;
    color: #848484;
    padding-bottom: 40px;
}

/*---------------------------------------------------------------*/
/* about us end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 9. subscribe */
/*---------------------------------------------------------------*/
#subscribe {
    /*background: url(../images/testimonial-background.jpg) 50% 0 fixed;*/
    background-color: #2b3542;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.subs {
    text-align: left;
    margin-top: 60px;
    margin-bottom: 40px;
}

.subscribe-group {
    display: inline;
    text-align: center;
}

#email {
    width: 400px;
    background-color: transparent;
    margin-bottom: 25px;
    border-bottom: 1px solid #37b496;
    font-size: 18px;
}

.form-control {
    padding-left: 0px;
}


/*---------------------------------------------------------------*/
/* 12. contact*/
/*---------------------------------------------------------------*/
.contact-background{
    background-color: #efefef;
 }

.contact-us {
    text-align: center;
    color: #37b496;
}

.contact-us h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    font-weight: 300;
    font-size: 55px;
    text-transform: uppercase;

}

.input-group .form-control {
    margin-bottom: 10px;
}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-image: none;
    background-color: #efefef;
    border: transparent;
    border-bottom: 1px solid #9e9e9e;

}

.input-group-addon {
    padding: 6px 12px;
     font-size: 0px;
     line-height: 1;
     color: transparent;
     text-align: center;
     background-color: transparent;
     border: 1px solid transparent;
     border-radius: 0px;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
    padding:0px;
    color: #000;
}

.form-control:focus {
    border-color: #37b496;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.0),0 0 8px rgba(0, 0, 0, 0);
}

.contact .btn-primary {
    margin-right: 25px;
    color: #37b496;
    background-color: transparent;
    border-color: #37b496;
    border: solid 2px;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 30px;
    margin-bottom: 80px;
    height: 40px;
}

.contact .btn-primary:hover {
    color: #fff;
    background-color: #37b496;
    border: solid 2px #37b496;
}

.address {
    margin-top: -20px;
}

.h2-contact {
    color: #37b496;
}

.lead {
    font-size: 16px;
}
/*---------------------------------------------------------------*/
/* contact-end*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 13. Google-maps*/
/*---------------------------------------------------------------*/
html, body, .row, .col-xs-6 { height: 65% }

#map-canvas {
    width:100%;
    height:40%;
}
/*---------------------------------------------------------------*/
/*  Google-maps-end*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 14 footer*/
/*---------------------------------------------------------------*/
.footer {
    height: 100px;
    /*background-image: url(../images/testimonial-background.jpg);*/
    background-color: #2b3542;
}

.footer h4 {
    color: #555559;
    text-align: right;
    margin-top: -45px;
    margin-right: 50px;
}

.footer-text {
    position: relative;
    text-align: right;
}

.social-icon {
   display: table;
   margin-top: 15px;
}

.social-icon li {
    display: table-cell;
    text-align: right;
    padding: 10px;
}

#footerPinterest {
    background-image: url('../images/social-icons/pinterest.png');
}

#footerFacebook {
    background-image: url('../images/social-icons/facebook.png');
}

#footerTwitter {
    background-image: url('../images/social-icons/twitter.png');
}

.icon {
    list-style: none;
    display: inline-block;
    height: 30px;
    width: 41px;
    vertical-align: middle;
    margin: 0;
    padding: 10px;
}

.icon a {
    display: block;
    background-size: 28px, 28px;
    width: 28px;
    height: 28px;
    opacity: 0.2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;

}

.icon a:hover {
    opacity: 0.9;
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
}
/*---------------------------------------------------------------*/
/* footer-end*/
/*---------------------------------------------------------------*/


/*---------------------------------------------------------------*/
/* responsive*/
/*---------------------------------------------------------------*/
@media only screen and (max-width: 1550px) {
    .jumbotron {
        height: 600px;
    }

    .jumbo  {
        padding-top: 160px;
    }

    .modalDialog > div {
        width: 785px;
        height: 600px;
        margin-top: 100px;
    }

    .modalDialog img {
        height: 80%;
    }

    #email {
        width: 300px;
    }
}

@media only screen and (max-width: 1250px) {
    .jumbotron {
        height: 550px;
    }

    .jumbo  {
        padding-top: 150px;
    }

    #email {
        width: 275px;
        background-color: transparent;
        margin-bottom: 25px;
        margin-left: 20px;
    }

    .subs .btn-primary {
        margin-left:20px;
    }
}

@media only screen and (max-width: 750px) {
    .jumbotron {
        height: 500px;
    }

    .jumbo  {
        padding-top: 75px;
    }

    .jumbotron h2 {
        font-size: 60px;
        font-weight: 300;
    }

    .jumbotron p {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 100;
        color: #fff;
    }

    ul#example li span {
        font-size: 30px;
        line-height: 45px;
    }

    .footer {
        height: 125px;
    }

    .footer h4 {
        text-align: center;
        margin-top: 50px;
        margin-right: 20px;
    }

    .social-icon {
        display: none
    }

    .modalDialog {
        display: none;
    }

    #text-aboutus {
        padding-right: 10px;
    }

    .navbar-brand h2 {
        font-size: 22px;
    }
}
/*---------------------------------------------------------------*/
/* responsive-end*/
/*---------------------------------------------------------------*/